/* flex with space between for nav */
.header{
    display:flex;
    justify-content: space-around;
    background-color: black;
    color: wheat;

}
.header  a{
    margin-top: 12px;
    text-decoration: none;
    color: wheat;
}

/* style with no flex for description */

.description{
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/food.png");
    color: wheat;
    text-align: center;

    }
/* flex with space evenly for grid */
.grid{
    display: flex;
    justify-content: space-evenly;

    flex-wrap: wrap;
    background-color: wheat;
}

grid img{
    border: 2px solid black;
    border-radius: 50px;
}

.origami{
    border-radius: 20px;
    background-color: seashell;

    width: 400px;
    font-family: fantasy;
}
